--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
transformers
langchain
langchain-experimental
langchain-huggingface
chromadb
sentence-transformers
pymupdf
duckduckgo-search
ollama
ragas
pyyaml
streamlit
langchain-ollama
